.details{
  padding-top: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 70px;
  background-color: rgb(183, 182, 182);
}
.details-text{
  height: 500px;
  width: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.details-text p{
  line-height: 1.8;
  font-size: 17px;
  padding : 5px;

}
.details-text h1{
  padding : 0px;
  margin: 0px;
}
.details-image{
  height: 300px;
  width : 600px;
  background-color: aquamarine;
}